<div class="container">
    <img src="/images/news-head-mm.jpg" alt="" class="img-fluid mb-5">
    <img src="/images/mm-design-call-news.png" alt="" class="img-fluid mb-4">
    <img src="/images/mm-design-call-02.png" alt="" class="img-fluid mb-4">
    <h2 class="text-muted">Invitations for Design calls are closed</h2>
    <p>But you can still view the designs at <a href="/designs">this page</a></p>
</div>